.wrap {
	display: flex;
	flex-direction: row;

	.map {
		flex: 0 0 40%;
		height: 100vh;
		background-color: var(--white);
	}
	.workshops {
		flex: 1 1 auto;
	}

	.workshop {
		display: flex;
		flex-direction: column;
		.meta {
			display: flex;
			flex-direction: column;
			list-style: none;
			li {
				display: flex;
				flex-direction: row;
				span:nth-child(1) {
					flex: 0 0 150px;
				}
			}
		}
	}
}
