.workshopsbycity {
	display: flex;
	flex-direction: row;

	.map {
		flex: 0 0 40%;
		height: 60vh;
		background-color: var(--white);
		margin-right: var(--gutter);
	}
	.workshops {
		flex: 1 1 auto;
	}

	.workshop {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		margin-bottom: var(--space);

		.imageWrap {
			flex: 0 0 50%;
			margin-right: var(--gutter);
			.image {
				width: 100%;
				object-fit: contain;
			}
		}

		.details {
			flex: 1 1 auto;

			.meta {
				display: flex;
				flex-direction: column;
				list-style: none;
				li {
					display: flex;
					flex-direction: row;
					span:nth-child(1) {
						flex: 0 0 150px;
					}
				}
			}
		}
	}
}
