.view {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding-top: 0.8rem;
	button {
		margin: 0;
		position: relative;
		margin-left: 0.5rem;
	}
	span {
		flex: 0 0 150px;
		//text-transform: uppercase;
		font-weight: bold;
	}
}
