.filter {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-bottom: var(--space-big);
	button {
		margin: 0;
		position: relative;
		margin-left: 0.5rem;
	}
	span {
		flex: 0 0 200px;
		//text-transform: uppercase;
		font-weight: bold;
	}
}
