.workshopsbycity {
	display: flex;
	flex-direction: row;
	margin-top: var(--space);

	.map {
		flex: 0 0 40%;
		height: 60vh;
		background-color: var(--white);
		margin-right: var(--gutter);
	}
	.workshops {
		flex: 1 1 auto;
	}

	.workshop {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		margin-bottom: var(--space);

		&:not(:first-of-type) {
			border-top: 2px solid var(--gray);
			padding-top: var(--space);
		}

		.imageWrap {
			@include mq($until: desktop) {
				display: none;
			}
			flex: 0 0 35%;
			margin-right: var(--gutter);
			.image {
				width: 100%;
				object-fit: contain;
			}
		}

		.details {
			flex: 1 1 auto;

			.meta {
				display: flex;
				flex-direction: column;
				list-style: none;
				li {
					display: flex;
					flex-direction: row;
					span:nth-child(1) {
						flex: 0 0 80px;

						@include mq($from: desktop) {
							flex: 0 0 150px;
						}
					}
				}
			}
		}
	}
}
