.findworkshop {
	display: flex;
	flex-direction: row;
	height: 60vh;

	.find {
		display: flex;
		flex-direction: column;
		flex: 0 0 50%;
		margin-right: var(--gutter);
	}

	.workshop {
		background-color: var(--white);
		padding: 1rem;
	}
	.map {
		height: 100%;
		flex: 1 1 auto;
	}
}
