.article {
	padding-bottom: calc(1.5 * var(--space-big));
	position: relative;

	.intro {
		margin-bottom: var(--space-big);
	}

	header {
		position: relative;
		display: flex;
		flex-direction: row;
		.headerContent {
			position: absolute;
			top: 0;
			right: 0;
			//top: 1rem;
			//right: calc(-1 * var(--margin));
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-left: var(--gutter);
			button,
			a {
				flex: 0 0;
				margin-bottom: 0.25rem;
			}
		}
	}
}
