.article {
	padding-bottom: calc(1.5 * var(--space-big));
	position: relative;

	header {
		position: relative;
		display: flex;
		flex-direction: row;

		h1 {
			flex: 1 1 auto;
			@include mq($until: desktop) {
				color: var(--white);
			}
		}
		.headerContent {
			margin-left: var(--gutter);
		}
	}

	.editButtons {
		position: absolute;
		display: flex;
		flex-direction: row;
		top: 0;
		right: calc(var(--full-bleed-margin));
		margin: var(--outer-margin);
		z-index: 2;
		width: auto;

		button {
			margin: 0;
		}
	}
}
