.list {
	display: flex;
	flex-direction: column;
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;

	li {
		display: flex;
		flex-direction: column;
		flex: 0 0 100%;

		.item {
			display: flex;
			flex-direction: row;
			align-items: center;
			margin-bottom: var(--gutter);
			width: 100%;
			cursor: pointer;
			span {
				flex: 1 1 auto;
			}
			button {
				all: unset;
			}
		}

		.content {
			overflow: hidden;
			transition: height 0.2s ease-out;
			height: 0;
		}
	}
}
