.list {
	--padding: var(--gutter);
	display: flex;
	flex-direction: column;
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;

	li {
		display: flex;
		flex-direction: column;
		flex: 0 0 100%;
		margin-bottom: 2px;

		.item {
			display: flex;
			flex-direction: row;
			align-items: center;

			width: 100%;
			background-color: var(--white);
			padding: var(--padding);

			cursor: pointer;
			span {
				flex: 1 1 auto;
			}
			button {
				all: unset;
			}
		}

		.content {
			overflow: hidden;
			transition: height 0.2s ease-out;
			height: 0;
			background-color: var(--white);
			.wrap {
				padding: var(--padding);
				padding-top: 0;
			}
		}
	}
}
