.meta {
	background-color: var(--white);
	padding: var(--gutter);
	margin-bottom: var(--space);

	@include mq($from: desktop) {
		margin-left: calc(-1 * var(--gutter));
	}

	ul {
		list-style: none;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		li {
			display: flex;
			flex-direction: row;
			flex: 0 0 50%;
			line-height: 1.8;
			align-items: baseline;
			.label {
				text-transform: uppercase;
				flex: 0 0 40px;
				@include mq($from: desktop) {
					flex: 0 0 80px;
				}
			}
		}
	}
}
