.thumbnail {
	display: flex;
	flex-direction: column;
	flex: 0 0 calc(50% - (0.5 * var(--gutter)));
	background-color: var(--white);
	margin-bottom: var(--gutter);
	transition: all 0.3s;

	&:hover {
		transform: rotate(-5deg);
		& .wrap {
			transform: rotate(5deg);
		}
	}

	&:nth-child(odd) {
		margin-right: var(--gutter);
	}

	@include mq($until: desktop) {
		flex: 0 0 100%;
		margin-right: 0;
		margin-left: 0;
	}
	.wrap {
		padding: var(--gutter);
		transition: all 0.3s;

		h3 {
		}

		.image {
			margin-top: 0.5rem;
			object-fit: cover;
			aspect-ratio: 4/3;
		}

		.text {
			margin-top: 0.8rem;
			margin-bottom: 0;
		}
		.meta {
			list-style: none;
			display: flex;
			flex-direction: column;
			li {
				display: flex;
				flex-direction: row;
				align-items: center;
			}
		}
	}
}
