.topbar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: var(--space);
  width: 100%;
  height: var(--navbar-height);
  padding: var(--outer-margin);
  z-index: var(--z-hamburger);

  .logo {
    flex: 1 1 auto;
  }

  .hamburger {
    display: flex;
    justify-content: flex-end;
    flex: 0 0 auto;
    margin-right: -6px;

    button {
      all: unset;
      color: var(--white);
    }
  }

  @include mq($from: desktop) {
    display: none;
  }
}

.navbarMobile {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-color: var(--darkred);
  padding: var(--outer-margin);
  font-size: 1.5rem;
  color: var(--white);
  padding-top: calc(var(--navbar-height) + var(--space));
  z-index: var(--z-navbar);
  transform: translateX(-100%);
  transition: transform 0.3s cubic-bezier(0.19, 1, 0.22, 1);

  &.open {
    transform: translateX(0%);
  }

  a {
    color: var(--white);
  }

  ul {
    list-style: none;

    li {
      padding-bottom: 1em;
      padding-top: 1em;

      &:first-child {
        padding-top: 0;
      }

      &.active {
        >a {
          color: var(--darkred-light);
        }
      }
    }
  }

  .menu {
    display: flex;
    flex-direction: column;
    list-style: none;
    flex: 1 1 auto;

    >li {
      line-height: 1;
      border-bottom: 1px solid var(--white);
      cursor: pointer;

      &:nth-last-child(2),
      &:nth-last-child(1) {
        border-bottom: none;
      }

      &:last-child {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        justify-content: flex-end;
      }

      >ul {
        display: flex;
        flex-direction: column;
        margin-left: 1em;
        margin-top: 0.5em;

        li {
          padding-top: 0.5em;
          padding-bottom: 0.5em;
        }
      }
    }
  }

  @include mq($from: desktop) {
    display: none;
  }
}