.navbar,
.sub {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	height: var(--navbar-height);
	padding: var(--outer-margin);
	z-index: var(--z-navbar);
	&.bottom {
		position: relative;
	}
	.logo {
		flex: 0 0 calc(var(--margin));
		img {
			height: 1rem;
			clip-path: inset(100% 0 0 0);
		}
	}

	ul {
		display: flex;
		flex-direction: row;
		list-style: none;
		flex: 1 1 auto;

		li {
			cursor: pointer;
			padding-right: 1.5rem;
			position: relative;
			transition: var(--color-transtion);

			&:last-child {
				padding-right: 0;
			}

			&.active > * {
				color: var(--darkred) !important;
			}
		}

		@include mq($until: desktop) {
			display: none;
		}
	}

	.menu {
		span {
			position: relative;
			padding-right: 0.2em;
		}

		a:hover {
			color: var(--darkred);
		}

		li {
			transition: var(--color-transtion);
			white-space: nowrap;
			&::after {
				position: absolute;
				content: ' ';
				margin-left: 0.1rem;
			}

			&.dropdown:hover {
				&::after {
					content: '›';
					transform: rotate(90deg);
					padding-left: 0.1em;
				}
			}

			&:hover,
			&.active {
				color: var(--darkred) !important;
			}
			&:nth-child(4) {
				flex: 1 1 100%;
			}
			&.right {
				display: flex;
				justify-content: flex-end;
			}
		}
	}
}

.login {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	flex: 0 0 var(--margin);
	transition: var(--color-transtion);

	a:hover {
		color: var(--darkred);
	}
}

.sub {
	display: none;
	margin-top: var(--navbar-height);
	background-color: var(--white);
	color: var(--black);
	padding: 1rem;
	width: auto;

	&.open {
		@include mq($from: desktop) {
			display: flex;
		}
	}

	a:hover {
		//color: var(--darkred-light);
	}

	* {
		color: var(--black);
	}

	&.right > ul {
		justify-content: flex-end;
	}

	ul {
		display: flex;
		flex-direction: column;
		li.active > a {
			//color: var(--darkred-light) !important;
		}
	}
}
