.navbar,
.sub {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: var(--navbar-height);
  padding: var(--outer-margin);
  background-color: var(--white);
  z-index: var(--z-navbar);
  border-bottom: 1px solid var(--darkred);

  .logo {
    flex: 0 0 calc(var(--margin));


  }

  ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    flex: 1 1 auto;

    li {
      cursor: pointer;
      padding-right: 1.5rem;
      position: relative;
      transition: var(--color-transtion);

      &:last-child {
        padding-right: 0;
      }

      &.active>* {
        color: var(--darkred) !important;
      }
    }

    @include mq($until: desktop) {
      display: none;
    }
  }

  .menu {
    span {
      position: relative;
      padding-right: 0.2em;
    }

    a:hover {
      color: var(--darkred);
    }

    .item {
      transition: var(--color-transtion);

      &::after {
        position: absolute;
        content: " ";
        margin-left: 0.1rem;
      }

      &.dropdown:hover {
        &::after {
          content: "›";
          transform: rotate(90deg);
          padding-left: 0.1em;
        }
      }

      &:hover,
      &.active {
        color: var(--darkred) !important;
      }
    }
  }
}

.login {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  flex: 0 0 var(--margin);
  transition: var(--color-transtion);

  a:hover {
    color: var(--darkred);
  }
}

.sub {
  display: none;
  margin-top: var(--navbar-height);
  background-color: var(--darkred);
  box-shadow: 0px 1px 4px #0000002b;
  padding-left: calc(var(--margin) + var(--outer-margin));

  &.open {
    @include mq($from: desktop) {
      display: flex;
    }
  }

  a:hover {
    color: var(--darkred-light);
  }

  * {
    color: var(--white);
  }

  &.right>ul {
    justify-content: flex-end;
  }

  ul {

    li.active>a {
      color: var(--darkred-light) !important;
    }
  }
}