@font-face {
  font-family: "KKV";
  src: url("/fonts/ABCWalterNeue-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "KKV";
  src: url("/fonts/ABCWalterNeue-RegularItalic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "KKV";
  src: url("/fonts/ABCWalterNeue-Medium.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "KKV";
  src: url("/fonts/ABCWalterNeue-MediumItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}
