.wrapper {
	text-align: center;

	button {
		margin-top: var(--space);
		margin-bottom: var(--space);
		padding-left: var(--gutter);
		padding-right: var(--gutter);

		@include mq($from: desktop) {
			margin-left: calc(-1 * var(--gutter));
		}

		&:hover {
			color: white !important;
		}
	}

	a {
		text-decoration: none;
	}
}
