.wrapper {
	text-align: center;

	button {
		margin-left: calc(-1 * var(--gutter));
		margin-top: var(--space);
		margin-bottom: var(--space);
		padding-left: var(--gutter);
		padding-right: var(--gutter);

		&:hover {
			color: white !important;
		}
	}

	a {
		text-decoration: none;
	}
}
